services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - /home/umbrel/umbrel/home/app-data/jellyfin/library:/config
      - /home/umbrel/umbrel/home/Midias:/Midias
      - /home/umbrel/umbrel/home/Cursos:/Cursos
    ports:
      - 8096:8096
    restart: unless-stopped
